@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

     /* black */
.black-clr{
    color: rgb(17, 17, 17);
}

/* orange */
  .orange-clr{
    color: rgb(254, 163, 1);
  }

/* sky blue */
  .skyblue-clr{
    color: rgb(1, 172, 253);
  }

/* oink */
.pink-clr{
    color: rgb(5, 212, 223);
}

/* blue */
.blue-clr{
    color: rgb(93, 88, 239);
}


.btn-primary{
    border-radius: 12px;
    background: rgb(17, 17, 17);
    width: 200px;
    height: 50px;
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
}

/* navbar related styles */
.navbar{
    justify-content: space-around;
    text-align: center;
}

.nav-item{
    list-style: none;
    margin-right: 32px;
}

.nav-link{
    text-decoration: none;
}

.nav-btn{
    border-radius: 12px;
    background: rgb(254, 163, 1);
    border: none;
    width: 200px;
    height: 50px;
    font-weight: 600;
    font-size: 1.25rem;
    color: white;
}

.school{
    font-weight: 700;
    font-size: 2rem;
}

.nav-link{
    font-weight: 500;
    font-size: 1.25rem;
}

/* banner related styles */
.banner-content{
    max-width: 640px;
}

.banner{
    align-items: center;
    margin: 0 140px;
}

.banner-description{
    font-weight: 400;
    font-size: 1.25rem;
}

/* section styles */
.empower{
    color: rgb(254, 163, 1);
}

.toward-v{
    color: rgb(1, 172, 253);
}

.section-title{
    font-weight: 700;
    font-size: 3.5rem;
}
